* {
  padding: 0%;
  margin: 0%;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
nav{
 background-color: rgb(127, 192, 242);
 height: 80px;
 width: 100%;
}
.logo{
  height: 40px;

}

nav img {
  width: 60px;
  height: 60px;
}
.enlace {
  position: absolute;
  padding: 20px 50px;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color:  rgb(0, 0, 0);
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px ;
  text-transform: uppercase;
  text-decoration: none;
}
li a.active , li a:hover{
  background: rgb(99, 144, 241);
  transition: .5s;

}
.checkbtn {
  font-size: 30px;
  color: rgb(0, 0, 0);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
section {
  width: 100%;
 
 
  background-position: center center;
}
section video {
    width: 100%;
}

video{
  width: 100%;
  height: 599px;
 
}

#conteiner {
    width: 100%;
}

.carrusel
{
  width: 100%;

}
.carrusel .tercer img  {
width: 100%;
height: 180%;
}
.carrusel .carrusel-item {
  width: 100%;
  height: 100%;
}

.carrusel .carrusel-item img{
  width: 100%;
  height: 100%;
}



/*obras*/

element.style {
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, .articulo, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*, ::after, ::before {
    box-sizing: border-box;
}
* {
    transition: all 0.5s;
}
user agent stylesheet
div {
    display: block;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
body {
    line-height: 1;
    box-sizing: border-box;
    transition: all 0.5s;
}
#galeria .item a {
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 999;
    transition: .4s;
    text-align: center;
    text-decoration: none;
    font-family: "roboto", sans-serif;
    opacity: 0;
    background-color: rgba(41, 152, 255, 0.8);
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
}

#galeria .item a:hover {
    opacity: 1;
}

#galeria .item a p {
    display: none;
    width: 40px;
    height: 40px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -17px;
    color: white;
    font-size: 31px;
    text-align: center;
    padding-top: 7px;
}

#galeria .item a:hover p {
    display: block;
    text-align: center;
}

#galeria .item a h5 {
    font-size: 21px;
    color: white;
    transition: all 0.8s;
    transform: scale(0.6);
    display: inline;
    position: absolute;
    vertical-align: middle;
}

#galeria .item img {
    width: 100%;
    left: 0;
    border-bottom: 0;
    height: 100%;
    position: absolute;
    transition: all 0.7s;
}

#galeria .item:hover a h5 {
    transform: scale(1);
}

#galeria .item:hover img {
    transform: scale(1.25);
}

#formulario {
    background-color: #a0c3de;
    margin: auto;
}

.contacto label {
    display: block;
    font-size: 15px;
    margin-top: 30px;
    font-family: "roboto", sans-serif;
    text-align: left;
    margin-bottom: 10px;
}

.contacto input,
.contacto textarea {
    text-align: left;
    width: 100%;
    border: none;
    outline: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

input[type="submit"] {
    display: block;
    margin-top: 30px;
    padding: 10px 25px;
    font-weight: 500;
    color: #efefef;
    background-color: #00a7e6;
}

.contacto .row {
    padding-top: 30px;
    text-align: left;
    font-family: "roboto", sans-serif;
    font-weight: 300;
}

input#filename {
    width: 665px;
}

input#fakeBrowse {
    background-color: #989898;
    padding: 9px 20px;
    font-weight: 500;
    color: #404040;
    margin-left: -3px;
}

img#flecha {
    vertical-align: top;
    width: 40px;
    display: inline-block;
    margin-left: -7px;
    margin-top: -4px;
}

.pagina {
    max-width: 1200px;
    margin: auto;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pagina p {
    font-family: "roboto", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    line-height: 19px;
    font-size: 17px;
    margin-bottom: 10px;
}

.contacto {
    max-width: 840px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    color: #626262;
}

.contacto p {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    margin-top: 50px;
    line-height: 19px;
    font-size: 15px;
    color: #626262;
    text-align: left;
    letter-spacing: .5px;
}
